extends layout

prepend head
  - title = project.exercise.title
append head
  script(src='/jade/templates.js')
  script(src='/static/ace/ace.js')
  script(src="#{shareURL}/channel/bcsocket.js")
  script(src="#{shareURL}/share/share.js")
  script(src="#{shareURL}/share/ace.js")
  script(src="#{shareURL}/share/json.js")

block content
  .row
    #editor
      ul.nav.nav-tabs
        each filename, index in project.exercise.files
          li(class=index==0?'active':'')
            a(href="#file#{index}", data-toggle='tab', data-file=filename)
              i.icon-fixed-width.icon-file-text
              |  #{filename}
        li
          span.badge +
            for user in project.users
              if user != authusername
                |  #{user}
      .tab-content
        each filename, index in project.exercise.files
          .tab-pane(id="file#{index}", class=index==0?'active':'')
            .editor(data-file=filename)
  .row
    #output
  
  script.
    var username = !{JSON.stringify(authusername)};
    var project = !{JSON.stringify(project._id)};
    var shareURL = !{JSON.stringify(shareURL)};
  script(src='/static/project.js')
